{% extends "../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Match Confirmed" %}
{% set mainClasses = "app-container govuk-body" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-!-width-two-thirds">
      {{ govukPanel({
        titleText: "Match confirmed",
        html: firstName + " " + lastName + " matched to <br><strong>ULN: " + uln + "</strong>"
      }) }}

      <h2 class="govuk-heading-m">What you can do next</h2>

      <p class="govuk-body">
        <a class="govuk-link govuk-body govuk-!-margin-bottom-3" href="/">
          Update {{ firstName }} {{ lastName }}'s screening and assessment needs in Curious
        </a>
      </p>

      <p class="govuk-body">
        <a class="govuk-link govuk-link govuk-body govuk-!-margin-bottom-3" href="/find-a-prisoner">
          Search for another prisoner
        </a>
      </p>

      {{ govukButton({
        text: "Finish",
        classes: "govuk-button govuk-!-margin-top-3",
        href: "/"
      }) }}
    </div>
  </div>
{% endblock %}
