@use "govuk-frontend/dist/govuk/index" as * with (
  $govuk-global-styles: true,
  $govuk-page-width: 1170px
);

@use "@ministryofjustice/frontend/moj/all";

$path: "/assets/images/";

@import "govuk-frontend/dist/govuk/index";

@import '../../node_modules/@ministryofjustice/hmpps-connect-dps-components/dist/assets/footer';
@import '../../node_modules/@ministryofjustice/hmpps-connect-dps-components/dist/assets/header-bar';

@import './components/header-bar';
@import './local';

.moj-search__item-wrapper {
  display: flex;
  align-items: flex-end;
}

.moj-search__item-wrapper .govuk-form-group {
  margin-bottom: 0;
}

.moj-search__button {
  margin-bottom: 0;
}
