{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Find a prisoner" %}
{% set mainClasses = "app-container govuk-body" %}

{%- from "moj/components/search/macro.njk" import mojSearch -%}
{%- from "moj/components/ticket-panel/macro.njk" import mojTicketPanel -%}
{%- from "govuk/components/table/macro.njk" import govukTable -%}


{% block content %}

  <h1>Find the prisoner you want to match</h1>

  {% set searchContent %}
    <div class="moj-search">
      <form action="#" method="post">
        <div class="govuk-form-group">
          <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="search">
            Find a prisoner
          </label>
          <div id="search-hint" class="govuk-hint moj-search__hint ">
            Name or prison number
          </div>
          <input class="govuk-input moj-search__input " id="search" name="search" type="search" aria-describedby="search-hint" value="{{ search }}">
        </div>
        <button type="submit" class="govuk-button moj-search__button " data-module="govuk-button">
          Search
        </button>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
      </form>
    </div>
  {% endset %}

  {{ mojTicketPanel({
    items: [{
      html: searchContent
    }]
  }) }}

  {% set tableRows = [] %}
  
  {% for prisoner in data %}
    {% set row = [
      { html: '<a class="govuk-link" href="/">' + prisoner.firstName + " " + prisoner.lastName + '</a>' },
      { text: prisoner.prisonerNumber or "Not Specified" },
      { text: prisoner.cellLocation or "Not Specified" },
      { text: prisoner.dateOfBirth or "Not Specified" }
    ] %}
    {% set tableRows = (tableRows.push(row), tableRows) %}
  {% endfor %}

  {% if data and data | length > 0 %}
    {{ govukTable({
      attributes: {
        "data-module": "moj-sortable-table"
      },
      head: [
        {
          text: "Name",
          attributes: {
            "aria-sort": "ascending"
          }
        },
        {
          text: "Prison number",
          attributes: {
            "aria-sort": "none"
          }
        },
        {
          text: "Location",
          attributes: {
            "aria-sort": "none"
          }
        },
        {
          text: "Date of birth",
          attributes: {
            "aria-sort": "none"
          },
          format: "numeric"
        }
      ],
      rows: tableRows
    }) }}
  {% elseif data and data | length == 0 %}
    <p class="govuk-body">Search returned no results - try searching again.</p>
  {% else %}
    <p class="govuk-body">No results to show - please perform a search.</p>
  {% endif %}


{% endblock %}
